<h1>you have done payment for this player thanks for your interest</h1>
<%= render :partial => "layouts/first" %>
<DIV id=u14 style="position:absolute; left:100px; top:300px; width:800px; height:300px; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf>
<div style="text-align:center">
<span style=" font-family:'Verdana'; color:#000000; font-size:7pt;">
<h1>you have done payment for this player thanks for your interest</h1>
</span></div></DIV></DIV>
</DIV>
