<%= render :partial => "layouts/first" %>
<div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:15pt;"><u><b><div style="position:absolute; left:px; top:300px; width:600px; height:10px; ; ;text-align:center"><p> SOCCERKIDS IS TO PROVIDES TRAINING TO YOUR CHILD </p></DIV>

