<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>



<DIV id=ou3 style="position:absolute; left:504px; top:55px; width:96px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:104px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u3.png',sizingMethod='scale');
"><img style="width:104px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u3.png" border="0" alt=""></span>

</DIV>

<DIV id=ou5 style="position:absolute; left:593px; top:55px; width:79px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:87px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u5.png',sizingMethod='scale');
"><img style="width:87px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u5.png" border="0" alt=""></span>

</DIV>


<DIV id=ou7 style="position:absolute; left:0px; top:54px; width:51px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:59px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u7.png',sizingMethod='scale');
"><img style="width:59px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u7.png" border="0" alt=""></span>

</DIV>

<DIV id=u7ann style="font-size:1px; position:absolute; left:41px; top:50px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou9 style="position:absolute; left:50px; top:54px; width:61px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:69px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u9.png',sizingMethod='scale');
"><img style="width:69px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u9.png" border="0" alt=""></span>

</DIV>




<span style="position:absolute; left:-3px; top:-3px; width:159px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u11.png',sizingMethod='scale');
"><img style="width:159px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u11.png" border="0" alt=""></span>

</DIV>




<DIV id=ou13 style="position:absolute; left:110px; top:55px; width:121px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:129px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u13.png',sizingMethod='scale');
"><img style="width:129px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u13.png" border="0" alt=""></span>

</DIV>


<DIV id=ou15 style="position:absolute; left:762px; top:54px; width:60px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:68px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u15.png',sizingMethod='scale');
"><img style="width:68px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u15.png" border="0" alt=""></span>

</DIV>


<DIV id=ou17 style="position:absolute; left:70px; top:150px; width:580px; height:291px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:588px; height:299px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u17.png',sizingMethod='scale');
"><img style="width:588px; height:299px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u17.png" border="0" alt=""></span>

</DIV>
<DIV id=u17container style="position:absolute; left:70px; top:150px; width:580px; height:291px;; overflow:visible">

<DIV id=u18 style="position:absolute; left:2px; top:137px; width:575px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u18_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u17 src="Resources/transparent.gif" style="position:absolute; left:70px; top:150px; width:579px; height:290px"  >

<DIV id=u19 style="position:absolute; left:274px; top:240px; width:370px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u19_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Kit includes Adidas Squadra II clima cool short and jersey with Soccerkids logo </span></DIV></DIV>
<DIV id=u20 style="position:absolute; left:274px; top:304px; width:30px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u20_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">Size</span></DIV></DIV>
<SELECT id=u21  style="position:absolute; left:309px; top:300px; width:175px; height:22px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<OPTION selected value="-- Select Size --">-- Select Size --</OPTION>
<OPTION  value="Youth Small (6-8)">Youth Small (6-8)</OPTION>
<OPTION  value="Youth Medium (10-12)">Youth Medium (10-12)</OPTION>
</SELECT>

<DIV id=u22 style="position:absolute; left:270px; top:339px; width:40px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">Color</span></DIV></DIV>
<SELECT id=u23  style="position:absolute; left:309px; top:335px; width:175px; height:22px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<OPTION selected value="-- Select Color --">-- Select Color --</OPTION>
<OPTION  value="Youth Small only in Royal blue">Youth Small only in Royal blue</OPTION>
<OPTION  value="Youth Medium only in Red">Youth Medium only in Red</OPTION>
</SELECT>

<DIV id=ou24 style="position:absolute; left:560px; top:404px; width:81px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:89px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u24.png',sizingMethod='scale');
"><img style="width:89px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u24.png" border="0" alt=""></span>

</DIV>
<DIV id=u24container style="position:absolute; left:560px; top:404px; width:81px; height:26px;; overflow:visible">

<DIV id=u25 style="position:absolute; left:2px; top:4.5px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u25_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;">Add to Cart</span></div></DIV></DIV>
</DIV>
<IMG id=u24 src="Resources/transparent.gif" style="position:absolute; left:560px; top:404px; width:80px; height:25px"  >

<DIV id=u24ann style="font-size:1px; position:absolute; left:631px; top:400px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u26 style="position:absolute; left:119px; top:110px; width:270px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>Welcome to SoccerKids online Store</b></span></DIV></DIV>
<DIV id=ou27 style="position:absolute; left:87px; top:184px; width:161px; height:157px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:169px; height:165px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u27.png',sizingMethod='scale');
"><img style="width:169px; height:165px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u27.png" border="0" alt=""></span>

</DIV>
<DIV id=u27container style="position:absolute; left:87px; top:184px; width:161px; height:157px;; overflow:visible">

<DIV id=u28 style="position:absolute; left:2px; top:70px; width:156px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u27 src="Resources/transparent.gif" style="position:absolute; left:87px; top:184px; width:160px; height:156px"  >

<span style="position:absolute; left:95px; top:191px; width:145px; height:116px">
<IMG id=ou29 src="Online store_files/u29.jpg" style="position:absolute;left:0px;top:0px;width:145px;height:116px">
</span>
<IMG id=u29 src="Resources/transparent.gif" style="position:absolute; left:95px; top:191px; width:145px; height:116px"  alt="SoccerKids Kit" title="SoccerKids Kit">

<DIV id=u30 style="position:absolute; left:264px; top:177px; width:110px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u30_rtf><span style=" font-family:'Tw Cen MT'; color:#000000; font-size:12pt;"><b>SoccerKids Kit</b></span></DIV></DIV>
<DIV id=u31 style="position:absolute; left:272px; top:208px; width:90px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u31_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;"><b>Price $50.00</b></span></DIV></DIV>
<DIV id=ou32 style="position:absolute; left:152px; top:350px; width:94px; height:27px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:102px; height:35px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u32.png',sizingMethod='scale');
"><img style="width:102px; height:35px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u32.png" border="0" alt=""></span>

</DIV>
<DIV id=u32container style="position:absolute; left:152px; top:350px; width:94px; height:27px;; overflow:visible">

<DIV id=u33 style="position:absolute; left:2px; top:5px; width:89px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u33_rtf><div style="text-align:center"><span style=" color:#0000FF; font-size:10pt;"><u>Enlarge image</u></span></div></DIV></DIV>
</DIV>
<IMG id=u32 src="Resources/transparent.gif" style="position:absolute; left:152px; top:350px; width:93px; height:26px"  >

<DIV id=u32ann style="font-size:1px; position:absolute; left:236px; top:346px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:125px; top:351px; width:22px; height:24px">
<span id=ou34 style="position:absolute;left:0px;top:0px;width:22px;height:24px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u34.png',sizingMethod='scale');
"><img style="width:22px; height:24px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u34.png" border="0" alt=""></span>
</span>
<IMG id=u34 src="Resources/transparent.gif" style="position:absolute; left:125px; top:351px; width:22px; height:24px"   >

<span style="position:absolute; left:90px; top:544px; width:643px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u35.png',sizingMethod='scale');
"><img style="width:643px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u35.png" border="0" alt=""></span>

<IMG id=u35 src="Resources/transparent.gif" style="position:absolute; left:90px; top:543.5px; width:640px; height:2px">

<DIV id=ou36 style="position:absolute; left:659px; top:156px; width:176px; height:181px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:184px; height:189px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u36.png',sizingMethod='scale');
"><img style="width:184px; height:189px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u36.png" border="0" alt=""></span>

</DIV>
<DIV id=u36container style="position:absolute; left:659px; top:156px; width:176px; height:181px;; overflow:visible">

<DIV id=u37 style="position:absolute; left:2px; top:82px; width:171px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u36 src="Resources/transparent.gif" style="position:absolute; left:659px; top:156px; width:175px; height:180px"  >

<DIV id=ou38 style="position:absolute; left:659px; top:156px; width:176px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:184px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u38.png',sizingMethod='scale');
"><img style="width:184px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u38.png" border="0" alt=""></span>

</DIV>
<DIV id=u38container style="position:absolute; left:659px; top:156px; width:176px; height:31px;; overflow:visible">

<DIV id=u39 style="position:absolute; left:2px; top:7px; width:171px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u38 src="Resources/transparent.gif" style="position:absolute; left:659px; top:156px; width:175px; height:30px"  >

<span style="position:absolute; left:807px; top:158px; width:25px; height:25px">
<span id=ou40 style="position:absolute;left:0px;top:0px;width:25px;height:25px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u40.png',sizingMethod='scale');
"><img style="width:25px; height:25px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u40.png" border="0" alt=""></span>
</span>
<IMG id=u40 src="Resources/transparent.gif" style="position:absolute; left:807px; top:158px; width:25px; height:25px"   >

<DIV id=ou41 style="position:absolute; left:700px; top:246px; width:81px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:89px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u41.png',sizingMethod='scale');
"><img style="width:89px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u41.png" border="0" alt=""></span>

</DIV>
<DIV id=u41container style="position:absolute; left:700px; top:246px; width:81px; height:21px;; overflow:visible">

<DIV id=u42 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u42_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#0000FF; font-size:10pt;"><u>Add items</u></span></div></DIV></DIV>
</DIV>
<IMG id=u41 src="Resources/transparent.gif" style="position:absolute; left:700px; top:246px; width:80px; height:20px"  >

<DIV id=u41ann style="font-size:1px; position:absolute; left:771px; top:242px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou43 style="position:absolute; left:661px; top:161px; width:59px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:67px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u43.png',sizingMethod='scale');
"><img style="width:67px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u43.png" border="0" alt=""></span>

</DIV>
<DIV id=u43container style="position:absolute; left:661px; top:161px; width:59px; height:21px;; overflow:visible">

<DIV id=u44 style="position:absolute; left:2px; top:2px; width:54px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u44_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>Cart</b></span></div></DIV></DIV>
</DIV>
<IMG id=u43 src="Resources/transparent.gif" style="position:absolute; left:661px; top:161px; width:58px; height:20px"  >

<DIV id=ou45 style="position:absolute; left:677px; top:195px; width:127px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:135px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u45.png',sizingMethod='scale');
"><img style="width:135px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u45.png" border="0" alt=""></span>

</DIV>
<DIV id=u45container style="position:absolute; left:677px; top:195px; width:127px; height:21px;; overflow:visible">

<DIV id=u46 style="position:absolute; left:2px; top:2px; width:122px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u46_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;">Your Cart is empty</span></div></DIV></DIV>
</DIV>
<IMG id=u45 src="Resources/transparent.gif" style="position:absolute; left:677px; top:195px; width:126px; height:20px"  >

<DIV id=ou47 style="position:absolute; left:590px; top:485px; width:101px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u47.png',sizingMethod='scale');
"><img style="width:109px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u47.png" border="0" alt=""></span>

</DIV>
<DIV id=u47container style="position:absolute; left:590px; top:485px; width:101px; height:26px;; overflow:visible">

<DIV id=u48 style="position:absolute; left:2px; top:4.5px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u48_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Next step</span></div></DIV></DIV>
</DIV>
<IMG id=u47 src="Resources/transparent.gif" style="position:absolute; left:590px; top:485px; width:100px; height:25px"  >

<DIV id=u47ann style="font-size:1px; position:absolute; left:681px; top:481px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u49 style="position:absolute; left:93px; top:315px; width:110px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u49_rtf><span style=" font-family:'Tw Cen MT'; color:#000000; font-size:11pt;"><b>SoccerKids Kit</b></span></DIV></DIV>
<DIV id=ou50 style="position:absolute; left:45px; top:645px; width:251px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:259px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u50.png',sizingMethod='scale');
"><img style="width:259px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u50.png" border="0" alt=""></span>

</DIV>

<DIV id=ou52 style="position:absolute; left:285px; top:645px; width:146px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:154px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Online store_files/u52.png',sizingMethod='scale');
"><img style="width:154px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Online store_files/u52.png" border="0" alt=""></span>

</DIV>


<DIV id=u54 style="position:absolute; left:273px; top:371px; width:40px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">Qty.</span></DIV></DIV>
<INPUT id=u55  type=text value="" style="position:absolute; left:310px; top:367px; width:60px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Online store_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
