 <% .#<soccerkid logo image>.. %> 
<span style="position:absolute; left:1px; top:0px; width:820px; height:60px">
<IMG id=ou29 src="Home_files/u29.jpg" style="position:absolute;left:0px;top:0px;width:820px;height:60px">
</span>
<IMG id=u29 src="Resources/transparent.gif" style="position:absolute; left:1px; top:0px; width:820px; height:60px"   >
 <% .#< blue layer>.. %> 
<DIV id=ou30 style="position:absolute; left:1px; top:57px; width:821px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:829px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Home_files/u30.png',sizingMethod='scale');
"><img style="width:829px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Home_files/u30.png" border="0" alt=""></span>

</DIV>
<DIV id=u30container style="position:absolute; left:1px; top:57px; width:821px; height:26px;; overflow:visible">

<DIV id=u31 style="position:absolute; left:2px; top:4.5px; width:816px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u31_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u30 src="Resources/transparent.gif" style="position:absolute; left:1px; top:57px; width:820px; height:25px"  >
 <% . #<home>.. %>
<DIV id=u37 style="position:absolute; left:2px; top:4.5px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>Home</u></span></div></DIV></DIV>
 <% ..#<program>. %> 
<DIV id=u38container style="position:absolute; left:48px; top:56px; width:61px; height:26px;; overflow:visible">

<DIV id=u39 style="position:absolute; left:2px; top:4.5px; width:56px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>Programs</u></span></div></DIV></DIV>
</DIV>
<IMG id=u38 src="Resources/transparent.gif" style="position:absolute; left:48px; top:56px; width:60px; height:25px"  >
 <% . #<about soccer kids>.. %>
<DIV id=u42container style="position:absolute; left:114px; top:56px; width:112px; height:26px;; overflow:visible">

<DIV id=u43 style="position:absolute; left:2px; top:4.5px; width:107px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>About SoccerKids</u></span></div></DIV></DIV>
</DIV>
<IMG id=u42 src="Resources/transparent.gif" style="position:absolute; left:114px; top:56px; width:111px; height:25px"  >
 <% ..#<soccerlids online store>. %> 
<DIV id=u40container style="position:absolute; left:227px; top:56px; width:151px; height:26px;; overflow:visible">

<DIV id=u41 style="position:absolute; left:2px; top:4.5px; width:146px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>SoccerKids Online Store</u></span></div></DIV></DIV>
</DIV>
<IMG id=u40 src="Resources/transparent.gif" style="position:absolute; left:227px; top:56px; width:150px; height:25px"  >


 <% . #<Elizabeth Wade Studio>.. %>
<DIV id=u27container style="position:absolute; left:290px; top:650px; width:146px; height:26px;; overflow:visible">

<DIV id=u28 style="position:absolute; left:2px; top:4.5px; width:141px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Elizabeth Wade Studio</u></span></div></DIV></DIV>
</DIV>
<IMG id=u27 src="Resources/transparent.gif" style="position:absolute; left:290px; top:650px; width:145px; height:25px"  title="Elizabeth Wade Studio">



 <% ..#<2005 SoccerKids, Inc. :: Design by>. %> 
<DIV id=u25container style="position:absolute; left:50px; top:650px; width:251px; height:26px;; overflow:visible">

<DIV id=u26 style="position:absolute; left:2px; top:5.5px; width:246px; height:14px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#808080; font-size:9pt;">@ 2005 SoccerKids, Inc. :: Design by</span></div></DIV></DIV>
</DIV>
<IMG id=u25 src="Resources/transparent.gif" style="position:absolute; left:50px; top:650px; width:250px; height:25px"  >


 <% .#<logout>.. %> 
<DIV id=u23container style="position:absolute; left:762px; top:54px; width:60px; height:26px;; overflow:visible">

<DIV id=u24 style="position:absolute; left:2px; top:4.5px; width:55px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u24_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>Logout</u></span></div></DIV></DIV>
</DIV>
<IMG id=u23 src="Resources/transparent.gif" style="position:absolute; left:762px; top:54px; width:59px; height:25px"  >




 <% .#<Edit Profile>.. %> 
<DIV id=u13container style="position:absolute; left:593px; top:55px; width:79px; height:26px;; overflow:visible">

<DIV id=u14 style="position:absolute; left:2px; top:4.5px; width:74px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>Edit Profile</u> </span></div></DIV></DIV>
</DIV>
<IMG id=u13 src="Resources/transparent.gif" style="position:absolute; left:593px; top:55px; width:78px; height:25px"  >



 <% ..#<My Account>. %> 
<DIV id=u11container style="position:absolute; left:504px; top:55px; width:96px; height:26px;; overflow:visible">

<DIV id=u12 style="position:absolute; left:2px; top:4.5px; width:91px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u12_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>My Account</u>&nbsp; <u>|</u></span></div></DIV></DIV>
</DIV>
<IMG id=u11 src="Resources/transparent.gif" style="position:absolute; left:504px; top:55px; width:95px; height:25px"  >



